body {
    width: 40%;; height:fit-content;
    background-color: rgb(13, 134, 98);
    scale: 10px;;
    color: white;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    border: 0ch;
  }

h1 {
    text-align: center;
}

div {
    table-layout:fixed;
    align-self: center;
    padding:0%;
}
.divtable {
display: flex;
align-items: center;
justify-content: center;
}

ul {
   
align-items: center;
justify-content: center;
}
  